@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
 font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}